// Módulos
@use "font";

//@debug "Hola Mundo";

// Variables
$background: rgba(0, 8, 51, 0.9);
$image: url("../images/background.jpg");
$principal-color: #cac7ff;
$font: Lato;
$extra-small: 576px;

//mezclas/mixin
@mixin fondo($color: transparent) {
  //@debug $color;
  background: $color;
}

@mixin ancho-alto($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}

// Extender/Herencia
%borde-radio {
  border-radius: 50px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  @include ancho-alto(100%, 0px);
  min-height: 100vh;
  padding: 5% 5%;
  background-image: linear-gradient($background, $background), $image;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: $principal-color;
  font-size: 100px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
  margin: -13% 0% 10px 0%;
  font-family: $font;
}

::placeholder {
  color: $principal-color;
}

// Anidamiento
.search-bar {
  @include fondo(rgba(255, 255, 255, 0.2));
  @include ancho-alto(100%, 100px);
  max-width: 700px;
  display: flex;
  align-items: center;
  @extend %borde-radio;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);

  input {
    @include fondo;
    flex: 1;
    border: 0px;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: $principal-color;
    font-family: $font;
  }

  button {
    border: 0px;
    @extend %borde-radio;
    @include ancho-alto(60px, 60px);
    @include fondo(#58629b);
    cursor: pointer;
  }

  button img {
    @include ancho-alto(25px, 25px);
  }
}

@media (max-width: $extra-small) {
  h1 {
    font-size: 80px;
    font-weight: normal;
    margin: -30% 0% 10px 0%;
  }

  .search-bar {
    @include ancho-alto(100%, 50px);
    padding: 10px 10px;
  }

  .search-bar button {
    @include ancho-alto(33px, 33px);
  }

  .search-bar button img {
    @include ancho-alto(15px, 15px);
  }
}
